<%- include ("../partials/header") %>
<div class="container">
    
    <h1>New Blog Post</h1>
    <hr>

    <div>
        <%- include('./_form'); %>
    </div>
</div>
<%- include ("../partials/footer") %>