<%- include ("../partials/header") %>
<link href="../styles/styles.css" rel="styles">
<div class="container">
    <header class="jumbotron my-5">
        <h1><%= pageTitle %></h1>
    </header>
    <div>
        <p>how About i dot go to gagetown?</p>
    </div>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
    
                <div class="card hovercard">
                    <div class="cardheader">
    
                    </div>
                    <div class="avatar">
                        <img alt="" src="../images/photo.png">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="https://github.com/BenHoople">Ben Hoople</a>
                        </div>
                        <div class="desc">Determined Coder</div>
                        <div class="desc">Avid Gamer</div>
                        <div class="desc">Very Active</div>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-danger btn-sm" rel="publisher"
                           href="https://github.com/BenHoople">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher"
                           href="https://www.facebook.com/hoople">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                </div>
    
            </div>
    
        </div>
    </div>

</div>
<%- include ("../partials/footer") %>